<h1>Help</h1>
<p>
	Get help on Ruby on Rails Tutorial at the
	<a href="http://rails3tutorial.org/help">Rails Tutorial help page</a>.
	To get help on the trial app, see the
	<a href="http://rails3tutorial.org/book">Rails Tutorial book</a>.
</p>